/* GLOBAL */

html, body{
	margin: 0px;
	height: 100%;
	background: #eee;
}

.actived{
	border-bottom: 4px solid #84BD00;
	padding-bottom: 4px;
}

.centra{
	height: 100%;
	overflow-y: scroll;
}

.seguro{
	margin-top: -30px;
	background: #222326;
	position: absolute;
	height: 40px;
}

.seguro-album{
	margin-top: -41px;
	margin-left: 10px;
}

.seguro-song{
	right: 10px;
	background: #eee;
	margin-top: -36px;

}

/* BARRA LATERAL */

.head-title{
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 25px;
	display: block;
}

.navigation{
	text-align: center;
	color: white;
	background: #1C1C1F;
	height: 100%;
}

.navigation a{
	color: #ddd;
	margin-top: 20px;
	margin-bottom: 20px;
	display: block;
	text-decoration: none;
}

.navigation a:hover{
	color: white;
}

.navigation .glyphicon{
	font-size: 25px;
	display: block;
	width: 100%;
}	

#user_logged{
	text-align: center;
	background: #1C1C1F;
	position: absolute;
	bottom: 0px;
	border-top: 1px solid #444;
	width: 75%;
}

#user_logged .user-image{
	background: #eee;
	border-radius: 100px;
	height: 57px;
	width: 57px;
	margin: 0px auto;
	margin-top: 15px;
	/* eliminar todo lo que sobresalga del div user.image (en este caso el circulo) */
	overflow: hidden;
}

#user_logged .user-image img{
	width: 57px;
}

.btn-logout{
	cursor: pointer;
}

/* DETALLE DE ARTISTA Y ALBUM */

#artist-head-card .image,
#album-head-card .image{
	width: 170px;
	height: 170px;
	/* para que la imagen cuando sobresalga se oculte */
	overflow: hidden;
	float: left;
	margin-right: 30px;
}

#artist-head-card .image img,
#album-head-card .image img{
	height: 170px;
}

/* ARTISTAS Y ALBUMS */

.artist-image-for-edit img,
.album-image-for-edit img{
	width: 150px;
}

.artists-list,
.album-list{
	margin: 0px;
	padding: 0px;
	margin-top: 30px;
	list-style: none;
	min-height: 400px;
}

.artist-item,
.album-item{
	width: 23%;
	padding: 0px;
	margin: 0px;
	height: 316px;
	border: 1px solid #444;
	margin-left: 20px;
	/* margin-top: 20px; */
	background: #222326;
}

.artist-item .artist-image,
.album-item .album-image{
	height: 245px;
	width: 100%;
	overflow: hidden;
	background: black;

}

.artist-item .artist-image img{
	/* min-width: 100%; */
	height: 100%;
}

.artist-item .artist-name,
.album-item .album-name{
	color: white;
	padding: 10px;
	background: #222326;
}

.artist-item .artist-name a,
.album-item .album-name a{
	color: white;
	text-decoration: none;
}

/* ALBUMS */

.album-list{
	min-height: 800px;
	margin-bottom: 315px;
}

/* .artist-item .artist-image,
.album-item .album-image{
	height: 188px;
}  */

.album-item .album-image{
	height: 188px;
}
.album-item{
	height: 300px;
	margin-bottom: 20px;
}

.album-item .album-image img{
	/* min-width: 100%; */
	width: 100%;
}

/* CANCIONES */

#songs-list{
	margin: 0px;
	padding: 0px;
	min-height: 800px;
	padding-bottom: 200px;
}

.song-item{
	list-style: none;
	border-bottom: 1px solid #ccc;
	padding-top: 3px;
}

.song-item .buttons{
	float: right;

}

.song-item .title{
	padding: 12px;
}

.song-item .btn-success{
	margin-right: 10px;
}

/* PLAYER */

.player{
	background: #1C1C1F;
	/* para que siempre este fijo abajo de la pagina y siempre este visible 
	haga el scroll que haga */
	position: fixed;
	width: 90.5%;
	bottom: 0px;
	padding: 20px;
	margin-left: -15px;
	border-left: 1px solid #444;
	color: gray;
}

.player .album-image{
	float: left;
	width: 138px;
	height: 105px;
	/* asi lo que sobresalga de la imagen del player se ocultara */
	overflow: hidden;
}

.player .album-image img{
	height: 100%;
}

.player .audio-file{
	width: 85%;
	height: 40px;
	margin-top: 7px;
	margin-left: 10px;
	float: left;
}

.player audio{
	width: 100%;
	height: 40px;
}